#titlenav{
    font-family: 'Courier New', Courier, monospace;
    color:red;
    font-size: 28px;
    }
    #nav{
    background-color:black;
    color:red;
    }
    

    #displayfood{
		color:red;
		background-color: black;
	}
