{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
<div class="bgimg-1">
  <div class="loginbox" id="blog-header">
      <h1>Got taste?</h1><br><br>

      <p>Eat right.</p>
      <p>Eat healthy.</p>
      <p>Love yourself.</p>

      <p>_______________________</p>

      <p>Happiness starts with healthy food</p>

      <a href="/options"><button class="btn btn-danger">get started today</button></a>
      
      


    </div>
</div>

<div class="blog-summary" >
  <h3>From the most popular food blogs and tasty recipe websites around, users will have the benefit of our ever expanding recipe index:</h3>
<ul id="otis" >
    <li>Serious Eats</li>
    <li>Taste of home</li>
    <li>I adore food</li>
</ul>


</div>

  <div class="bgimg-2">
    <div class="caption">
      <span class="border">20,000+ RECIPES AGGREGATED FROM THE BEST RECIPE SOURCES AVAILABLE.</span>
    </div>
  </div>

  <!-- <section>-->
  <!-- <h1>Check out some of our Popular Recipes </h1>-->
  <!-- <h3>Hover over the circle below</h3>-->

 <!--</section>-->
 
<div class="footer">
  <div id="button"></div>
<div id="container">
<div id="cont">
<div class="footer_center">
     <h3>Foodie 2019</h3>
     
<div class="container">
      <div class="row bs">

        <div class="col-md-3">
    
         <div class="chip">
          <img src="https://farm2.staticflickr.com/1457/25462804434_c1790274fb_b.jpg" alt="Person" width="96" height="96">
          Daniel Mugambi

          </div>
          
        </div>
        <div class="col-md-3">
    
            <div class="chip">
             <img src="https://farm2.staticflickr.com/1457/25462804434_c1790274fb_b.jpg" alt="Person" width="96" height="96">
             Francis Karagu
   
             </div>
             
           </div>
          <div class="col-md-3">
            <div class="chip">
              <img src="https://farm2.staticflickr.com/1457/25462804434_c1790274fb_b.jpg" alt="Person" width="96" height="96">
             Joseph Chiuri
    
              </div>
          </div>
          <div class="col-md-3">
            <div class="chip">
              <img src="https://farm2.staticflickr.com/1457/25462804434_c1790274fb_b.jpg" alt="Person" width="96" height="96">
              Joseck 
    
              </div>
          </div>

          
          </div>
          </div>

</div>
</div>
</div>
</div>


{% endblock%}